* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: 'Outfit', sans-serif ;
    min-height: 100vh;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
}

/* fonts area */
@font-face {
    font-family: 'Outfit'; 
    src: url('fonts/Outfit-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* nav bar area */
nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

nav .container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px 0px 40px;
    border-radius: 0 30px 30px 0;
    position: relative;
    z-index: 9;
    margin-left: -30px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
    mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
}

nav ul li a {  
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 30px;
    transition: .3s ease-in-out;
    display: inline-block;
}

nav ul li a:hover {  
    background-color: rgba(0, 0, 0, 0.397);
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
}

.txt-logo {
    background: rgba(110, 49, 138, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    outline: 2px solid rgb(185, 65, 255);
    outline-offset: 0px;
    transition: .2s ease-in-out;
}

.txt-logo:hover {
    background: rgba(189, 47, 255, 0.75);
    outline: 2px solid rgba(185, 65, 255, 0);
    outline-offset: 0px;
    color: black; 
    transition: .2s ease-in-out;
}

.txt-logo span {
    font-size: 25px;
    color: rgb(185, 65, 255);
    transition: .2s ease-in-out;
}

.txt-logo:hover span {
    color: rgb(0, 0, 0);
    transition: .2s ease-in-out;
}

/* home page area */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.home {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    perspective-origin: center center;
}

.circle-bg1 {
    position: absolute;
    transform-style: preserve-3d;
    z-index: -100;
    transform: translateY(-760px);
    background: #000;
    border-radius: 50%;
    height: 1000px;
    aspect-ratio: 3/2.5;
    mask: radial-gradient(60% var(--c) at bottom,#0000 calc(100% - 2px),#000);
}

.circle-bg2 {
    position: absolute;
    transform-style: preserve-3d;
    z-index: -100;
    transform: translateY(420px);
    background: #000;
    border-radius: 50%;
    height: 1800px;
    aspect-ratio: 3/2.5;
    mask: radial-gradient(60% var(--c) at bottom,#0000 calc(100% - 2px),#000);
}

.circle-bg1::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #f700ff);
    filter: blur(30px);
    transform: translate3d(0px,5px,-1px);
    border-radius: inherit;
    pointer-events: none;
}

.circle-bg2::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #a200ff, #6103f7, #a507ee, #f700ff);
    filter: blur(30px);
    transform: translate3d(0px,5px,-1px);
    border-radius: inherit;
    pointer-events: none;
}

.text-home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.text-home h1 {
    font-size: 70px;
}

/* about area */
.about {
    z-index: 1;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    padding: 5rem 0;
    gap: 40px;
}

.about h1 {
    font-size: bold;
    color: rgb(255, 255, 255);
}

.about-box {
    display: grid;
    grid-template-columns: repeat(5, max-width: 10px);
    grid-template-rows: repeat(7, 1fr);
    gap: 18px;
}
    
.box1 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    border-radius: 12px;
    min-width: 48rem;
    height: 25rem;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.8rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box1 img {
    position: relative;
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 100px 100px 0 0;
    transition: .3s ease-in-out;
}

.box1 img:hover {
    transform: scale(1.075) translateY(-16px);
    transform: scaleX(3px);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.75);
    transition: .2s ease-in-out;
}

.text-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    max-width: 25rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    span {
        color: rgb(162, 0, 255);
    }
}

.text-box1 h1 {
    padding: 0;
}

.social-button {
    grid-column-start: 5;
    grid-row: span 4 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
}

.instagram {
    grid-column-start: 5;
    border-radius: 16px;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: .2s ease-in-out;
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }
}

.instagram:hover {
    background-color: rgb(226, 6, 116);
    box-shadow: 0 0 20px rgb(255, 0, 128);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.tiktok {
    grid-column-start: 5;
    grid-row-start: 2;
    border-radius: 16px;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: .2s ease-in-out;
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }
}

.tiktok:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.1);
    transition: .2s ease-in-out;
    a {
        color: rgb(0, 0, 0);
    }
}

.github {
    grid-column-start: 5;
    grid-row-start: 3;
    border-radius: 16px;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: .2s ease-in-out;
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }
}

.github:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.1);
    transition: .2s ease-in-out;
    a {
        color: rgb(0, 0, 0);
    }
}


.linkedin {
    grid-column-start: 5;
    grid-row-start: 4;
    border-radius: 16px;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: .2s ease-in-out;
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }
}

.linkedin:hover {
    background-color: rgb(0, 140, 255);
    box-shadow: 0 0 20px rgb(0, 255, 255);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.instagram,
.tiktok,
.github,
.linkedin {
    height: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porto-box {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
    background: rgba(165, 165, 165, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

.porto-box h2 {
    padding: 1.5rem;
}

.porto-box .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 1.5rem 1.5rem 1.5rem;
    gap: 20px;
}

.code-box {
    height: 100px;
    background-image: url('pics/preview-code-box.png');
    background-size: cover;
    border-radius: 10px;
    background-position: 0px -70px;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.creative-box {
    height: 100px;
    background-image: url('pics/preview-creative-box.png');
    background-size: cover;
    background-position: 0px -70px;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.code-box:hover,
.creative-box:hover {
    transform: scale(1.045) translateY(-2px);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.747);
    transition: .2s ease-in-out;
}

.porto-box h3 {
    padding: 4rem 0 1rem 15px;
    color: rgba(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.397);
}

/* Project Section */
.project {
    background-color: rgb(0, 0, 0);
    padding: 5rem 0;
}

/* Animation Keyframe */

        

/* Responsive */
@media (max-width: 768px) {
    .parallax-wrapper {
        perspective: 2px;
    }
    
    .home-item1 {
        transform: translateZ(-1px) scale(1.5);
    }

    .home-item2 {
        transform: translateZ(-0.5px) scale(1.25);
    }

    .home-item3 {
        transform: translateZ(0px) scale(1);
    }

    .home-txt {
        font-size: 10px;
    }
}