* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
}

body {
    background-color: #000;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

/* fonts area */
@font-face {
    font-family: 'Outfit'; 
    src: url('fonts/Outfit-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* parallax wrap */
.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: center center;
}

/* nav bar area */
nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

nav .container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px 0px 40px;
    border-radius: 0 30px 30px 0;
    position: relative;
    z-index: 9;
    margin-left: -30px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
    mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
}

nav ul li a {  
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 30px;
    transition: .3s ease-in-out;
    display: inline-block;
}

nav ul li a:hover {  
    background-color: rgba(0, 0, 0, 0.397);
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
}

.txt-logo {
    background: rgba(110, 49, 138, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    outline: 2px solid rgb(185, 65, 255);
    outline-offset: 0px;
    transition: .2s ease-in-out;
}

.txt-logo:hover {
    background: rgba(189, 47, 255, 0.75);
    outline: 2px solid rgba(185, 65, 255, 0);
    outline-offset: 0px;
    color: black; 
    transition: .2s ease-in-out;
}

.txt-logo span {
    font-size: 25px;
    color: rgb(185, 65, 255);
    transition: .2s ease-in-out;
}

.txt-logo:hover span {
    color: rgb(0, 0, 0);
    transition: .2s ease-in-out;
}

/* home page area */
.home {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
}

.home-item1, 
.home-item2, 
.home-item3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-item1 img,
.home-item2 img,
.home-item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home-item1 {
    z-index: -10;
    transform: translateZ(-2px) scale(3);
}

.home-item2 {
    z-index: -9;
    transform: translateZ(-1px) scale(2);
}

.home-item3 {
    z-index: -8;
    transform: translateZ(0px) scale(1);
}

.home-txt {
    color: rgb(255, 255, 255);
    width: auto;
    height: 300px;
    font-size: 22px;
    z-index: -9;
    transform: translateZ(-1px) scale(3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* about area */
.about {
    z-index: 1;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    width: 80%;
    flex-wrap: nowrap;
}
    
.box1 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    border-radius: 12px;
    background-color: beige;
}

.side-box1 {
    grid-column-start: 5;
    background-color: beige;
}

.side-box2 {
    grid-column-start: 5;
    grid-row-start: 2;
    background-color: beige;
}

.side-box3 {
    grid-column-start: 5;
    grid-row-start: 3;
    background-color: beige;
}

.side-box4 {
    grid-column-start: 5;
    grid-row-start: 4;
    background-color: beige;
}

.side-box1,
.side-box2,
.side-box3,
.side-box4 {
    border-radius: 12px;
    height: auto;
    width: auto;
}

.box2 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
    background-color: beige;
    border-radius: 12px;
}

.box3 {
    grid-column: span 3 / span 3;
    grid-row-start: 7;
    background-color: beige;
    border-radius: 12px;
}

.box4 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 7;
    background-color: beige;
    border-radius: 12px;
}
        

/* Responsive */
@media (max-width: 768px) {
    .parallax-wrapper {
        perspective: 2px;
    }
    
    .home-item1 {
        transform: translateZ(-1px) scale(1.5);
    }

    .home-item2 {
        transform: translateZ(-0.5px) scale(1.25);
    }

    .home-item3 {
        transform: translateZ(0px) scale(1);
    }

    .home-txt {
        font-size: 10px;
    }
}