* {
    padding: 0;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    background: url(../pics/wallpaper-castorice.jpg) no-repeat 0 -80px / cover;
}

/* fonts area */
@font-face {
    font-family: 'Outfit'; 
    src: url('../fonts/Outfit-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* nav bar area */
nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    font-family: 'Outfit', sans-serif;
}

nav .container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin-left: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px 20px 10px 40px;
    border-radius: 0 30px 30px 0;
    position: relative;
    z-index: 9;
    margin-left: -30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
    mask-image: linear-gradient(to right, transparent 0%, transparent 20px, black 40px);
}

nav ul li a {  
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 15px;
    padding: 20px 20px;
    border-radius: 30px;
    transition: .3s ease-in-out;
}

nav ul li a:hover {  
    background-color: rgba(255, 255, 255, 0.2);
    transition: .3s ease-in-out;
}

.txt-logo {
    background: rgba(110, 49, 138, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: rgb(255,255,255);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    outline: 2px solid rgb(185, 65, 255);
    outline-offset: 0px;
    transition: .2s ease-in-out;
}

.txt-logo:hover {
    background: rgba(189, 47, 255, 0.75);
    outline: 2px solid rgba(185, 65, 255, 0);
    outline-offset: 0px;
    color: black; 
    transition: .2s ease-in-out;
}

.txt-logo span {
    font-size: 25px;
    color: rgb(185, 65, 255);
    transition: .2s ease-in-out;
}

.txt-logo:hover span {
    color: rgb(0, 0, 0);
    transition: .2s ease-in-out;
}
